<ion-content padding>

  <ion-list lines="none">
    <form [formGroup]="wordsDescrForm">
      <ion-item *ngFor="let control of wordsDescrForm.controls | keyvalue">
        <ion-input required type="text" [formControlName]="control.key" placeHolder="Mot"></ion-input>
        <!-- <ion-input required type="text" [formControlName]="control.key" placeHolder="Description"></ion-input> -->
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
  <ion-button expand="full" color="light" (click)="addControl()">Ajouter un Mot</ion-button>

<p>
  Form Value: {{ wordsDescrForm.value | json }}
</p>


<p>
  Form Status: {{ wordsDescrForm.status }}
</p>
</ion-content>