<ion-content padding>



<ion-list lines="none">
<form [formGroup]="form" (submit)="submit()">
  
  <div class="card-body" formArrayName="words">
    
    <div class="col-6" *ngFor="let word of wordDescrFormGroup.controls; let i = index;">
      <ion-item [formGroupName]="i">
        <label>Mot: </label>
        <ion-input  formControlName="name" type="text"></ion-input>
          <label>Description: </label>
          <ion-input  formControlName="value" type="text"></ion-input>
        <div class="form-group col-12 text-right">
          <button class="btn btn-danger" type="button" (click)="removeWord(i)"> Remove </button>
        </div>
      </ion-item>
    </div>
  </div>
      <ion-button  (click)="addWord()"> Ajouter un Mot </ion-button>
      <!-- <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save User Profile </button> -->

</form>
</ion-list>

<p>
  Form Value: {{ form.value | json }}
</p>


<p>
  Form Status: {{ form.status }}
</p>


</ion-content>