  <ion-list lines="none">
    <form [formGroup]="form" >

      <div class="word-descr-array" formArrayName="words">

        <div *ngFor="let word of wordDescrFormGroup.controls; let i = index;">
          <h5>Mot:</h5>
          <ion-item [formGroupName]="i">
            <ion-input formControlName="word" type="text" (ionChange)="wordUpdated()"></ion-input>
            <ion-icon (click)="removeWord(i)" name="close-circle" class="del-word"></ion-icon>
          </ion-item>
          <h5>Description</h5>
          <ion-item [formGroupName]="i">
            <ion-input formControlName="descr" type="text" class="descr" (ionChange)="wordUpdated()" ></ion-input>
          </ion-item>
        </div>
      </div>
      <ion-button (click)="addWordFromForm()" expand="full" color="secondary"> Ajouter un Mot </ion-button>
      <!-- <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save User Profile </button> -->

    </form>
  </ion-list>