<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuration de la grille</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sliders-content" padding="true">

  <h5>
    Colonnes
  </h5>
  <ion-range min="3" max="20" value="10" step="1" snaps color="danger" pin color="primary">
    <ion-icon slot="start" size="small" name="code-download"></ion-icon>
    <ion-icon slot="end" name="code-download"></ion-icon>
  </ion-range>

  <h5>
    Lignes
  </h5>
  <ion-range min="3" max="20" value="10" step="1" snaps color="danger" pin color="primary">
    <ion-icon slot="start" size="small" name="code-working"></ion-icon>
    <ion-icon slot="end" name="code-working"></ion-icon>
  </ion-range>


</ion-content>