$black-cell-style: #284349;
$cell-size: 80px;

.main-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;

  main-cell {
    height: $cell-size;
    width: $cell-size;
    max-height: $cell-size;
    max-width: $cell-size;
    // vertical-align: top;
  }

  .blacked-cell {
    background-color: $black-cell-style;
    color: "red";
  }

  .idx-cell {
    height: $cell-size * 0.2;
    width: $cell-size;
    .idx-font {
      font-size: small;
    }
  }

  .letter-cell {
    height: $cell-size * 0.8;
    width: $cell-size;
    .letter-font {
      font-size: small;
    }
  }
}
