$black-cell-style: #284349;

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}


td {
  height: 40px;
  width: 100px;
  vertical-align: top;
}

.blacked-cell {
  background-color: $black-cell-style;
  color: 'red';
}

.letter-size-part {
  vertical-align: middle;
}
