$black-cell-style: #284349;
$cell-size: 80px;

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.main-cell {
  display: flex;
  flex-direction: column;
  height: $cell-size;
  width: $cell-size;
  max-height: $cell-size;
  max-width: $cell-size;
  border: 1px solid black
}

.blacked-cell {
  background-color: $black-cell-style;
}

.letter-cell {
  display:flex;
  justify-content: center;
}

.idx-cell {
  display: flex;
  justify-content: left;
  height: $cell-size * 0.2;
    width: $cell-size;
    .idx-font {
      font-size: small;
    }
}
